################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/net6.0
/obj/Debug/net6.0
/obj
/.vs/Markov/FileContentIndex/write.lock
/.vs/Markov/FileContentIndex/96738ee2-e617-4c94-bb29-2db9e5662d3e.vsidx
/.vs/Markov/FileContentIndex/5f398120-057e-4c0d-b43e-716f91e07de4.vsidx
.vs/Markov/FileContentIndex/05823ec8-2cc9-426c-b68e-81ff4f1836e3.vsidx
.vs/Markov/FileContentIndex/5a27cc83-9eed-4d5a-9b03-09ccc4592cd7.vsidx
.vs/Markov/FileContentIndex/bd602c7a-340f-4b35-816d-d6fde394164b.vsidx
.vs/Markov/FileContentIndex/97ce04b1-6bcb-4bb8-965c-edcb19af9c22.vsidx
.vs/Markov/FileContentIndex/e7668f74-c323-479c-b707-4a26c6c8445f.vsidx
.vs/Markov/FileContentIndex/66b0aeb3-3ba2-4623-a7af-3fbf485d4722.vsidx
.vs/Markov/FileContentIndex/6c2265d7-b3b5-46a4-b06a-2f180d669870.vsidx
.vs/Markov/FileContentIndex/c58215db-4865-4ace-8302-b7aa19f00f46.vsidx
.vs/Markov/FileContentIndex/af0d6098-db36-4c03-a3e9-df8155fc941d.vsidx
*.vsidx
*.v2
*.v2
.vs/Markov/v17/.futdcache.v2
bin/Debug/net6.0/Markov.pdb
bin/Debug/net6.0/Markov.dll
bin/Debug/net6.0/Markov.dll
.vs/ProjectEvaluation/markov.metadata.v5.1
.vs/ProjectEvaluation/markov.projects.v5.1
.vs/Markov/DesignTimeBuild/.dtbcache.v2
.vs/Markov/v17/.futdcache.v2
*.dll
*.v2
*.json
*.exe
*.pdb
*.dll
*.so
*.dylib
*.config
*.v2
