@using Markov.Classes.HMModel
@model IList<HMModel>
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

<div class="">
    <h1>Modely:</h1>
    <br/>
    <table>
        @foreach(var m in Model){
            <tr><td style="width:150px">@m.Name</td><td style="width:300px">@m.Description</td><td><a href="/Motiv/CountModel?id=@m._id" class="btn btn-success">Spočítat model</a></td></tr>
        }
    </table>
</div>